*-stamp
*.debhelper
*.log
*.substvars
*~
GNUmakefile
NOTES
ZAconf.py
aliases
config.status
debian/files
debian/za-apache-config
debian/za-base
debian/za-conf
debian/za-machine-info
debian/za-machine-matrix
debian/za-php-utils
debian/za-post
debian/za-postd
debian/za-pre
docs/Makefile
docs/_build
pre-headerbar.php
sudoers
watchdog.sh
za-headers.php
za-post-check-loop.sh
za-pre-check-loop.sh
za.conf
za.css
